<h1>Componentes</h1>
<p>Esta é a página de Componentes.</p>
<div class="row">
  <div class="col-sm d-flex">
    <div class="br-card">
      <div class="card-header">Avatar</div>
      <div class="card-content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus
        dignissimos, recusandae at accusamus autem error hic adipisci eligendi
        eum debitis dolores magnam quod sint doloribus omnis vitae placeat.
        Natus, minus.
      </div>
    </div>
  </div>
  <div class="col-sm d-flex">
    <div class="br-card">
      <div class="card-header">Button</div>
      <div class="card-content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
        culpa inventore mollitia vitae a nesciunt reiciendis incidunt, labore
        repudiandae voluptate nisi. Numquam illo est maiores doloribus
        recusandae rem inventore ea?
      </div>
    </div>
  </div>
  <div class="col-sm d-flex">
    <div class="br-card">
      <div class="card-header">Message</div>
      <div class="card-content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam
        cupiditate nihil facere autem dignissimos ex beatae labore? Fuga
        consequuntur consectetur voluptatum incidunt, tenetur, dolore magnam
        inventore hic iusto amet ipsa.
      </div>
    </div>
  </div>
</div>
